{% extends "base.html" %}

{% block content %}
<div class="container has-text-centered">
  <div class="notification is-info is-size-2">
      <p>
          Welcome to <b>EasyTrip</b>
      </p>
  </div>
  
  </br>
  </br>
  
  <h1 class="subtitle is-size-4">
    The EasyTrip software takes in locations the user wishes to visit 
    and plots the order they should be visited in based on factors such 
    as closing times, busy times, reservations, tickets, etc. 
  </h1>
  
  </br>

  <h2 class="subtitle is-size-4">
    The software is to be used by those planning trips to different cities
    or other locations who hope to maximize the time they spend at each 
    attraction. EasyTrip makes travel more efficient, increases the benefit 
    the user receives from each location they visit, and ensures that the
    user can visit as many of their desired destinations as possible promptly.
  </h2>
 </div>
{% endblock %}